body {
    background-color: lightblue;
    font-size: 18px;
}
h1, h2, h3, h4 {
    text-align: center;
    font-size: 25px;
}
h4 {
    border: 2px solid green;
    width: 200px;
    padding: 10px;
    height: 20px;
    float: left;
    
}


section {
    border: 2px solid blue;
    padding: 3%;
    width: 20%;
    height: 100px;
    margin: 2%;
    float: left;
    
    
}