body {
    background-color: lightblue;
    font-size: 18px;
}
h1, h2, h3, h4 {
    text-align: center;
    font-size: 25px;
}
/* section {
    border: 2px solid red;
    padding: 1%;
    width: 200px;
    height: 100px;
    margin: 2% 5% 3% ;
   
    
    
} */
#thumb1 {
    display: flex;
    border: 2px solid red;
    padding: 1%;
    width: 700px;
    height: 100px;
    margin: 2% 5% 3% ;
}
#h1 {
    
    margin: 2%;
    border: 2px solid blue;
    
}
#improve_desc {
    border: 2px solid green;
}


h4 {
    border: 2px solid green;
    width: 200px;
    padding: 1%;
    height: 20px;
    margin: 5% auto;
    
    
}