body {
    background-color: lightgray;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    
    grid-template-areas: "title"
                        "desc"
                        "options"
                        "thumb" 
                        "suggest";
    font-size: 16px;
}
#title {
    grid-area: title; 
    border: 2px solid red;   
    margin: 10px auto 50px;
}
#web_desc {
    grid-area: desc;
    border: 2px solid blue;
    width: 620px;
    padding: 5px;
    margin: auto;
}
#options {
    grid-area: options;
    border: 2px solid green;
    width: 210px;
    padding: 10px;
    margin: 40px auto;
    font-size: 25px;
}
h1, h2, h3 {
    font-size: 25px;
}
section {
    width: 220px;
    height: 150px;
    padding: 10px;
    margin: 30px;
    text-align: center;

    border: 2px solid blue;
}
#thumbnails {
    grid-area: thumb;
    display: flex;
    flex-direction: row;
    width: 910px;
    margin: auto;
    border: 2px solid violet;
}
#suggest {
    grid-area: suggest;
    border: 2px solid tomato;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: 50px auto;
    font-size: 25px;
}




/* Small Devices, Tablets */
@media (max-width : 800px) {

    #thumbnails {
        
        display: inline;
        align-content: center;
        margin: auto;
        
        
        border: 2px solid violet;
    }
    
}