body {
    font-family:'Times New Roman', Times, serif ;
    background-color: lightgray;
    font-size: 18px;
}
#title {
    height: 80px;
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    /* check if this can be done with using 2 margins*/
}
#web_desc {
    text-align: center;
    color: rgb(13, 0, 131);
    padding-bottom: 10px;
}

#content {
    background-color: khaki; 
    margin: 20px 10px;
    padding: 10px;

}

#options_title {
    border: 2px solid blue;
    text-align: center;
    width: 25%;
    padding: 10px;    
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

h1,h2,h3 {
    font-size:28px ;
    
}

section {
    border: 2px solid green;
    text-align: center;
    width: 220px;
    height: 150px;
    display: inline-table;
    

    padding: 1%;

}
#thumbnails {
    Margin: 0 auto;
    Width: 95%;
    Padding-left: 5%
} 
    
#thumb1, #thumb2, #thumb3 {
    Margin-left: 10%;
    Float: left
}
     
    


#suggest {
    border: 2px solid red;
    text-align: center;
    width: 10%;
    margin-top: 5%;
    margin-left: 44%;
    padding: 0.5%;
    clear: both;
}








/* Small Devices, Tablets */
@media (max-width : 820px) {

    section {
        width: 95%;
        float: none;
        margin-top: 2%;
    }
}
#thumb1, #thumb2, #thumb3 {
    Margin-left: 0%
    }
/*changes to be made:
    change font size in break
    remove the #suggest border